<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Change password</title>
</head>
<body>
	<h1>change password</h1>

	<form action="#" th:action="@{/changePassword}" th:object="${person}" method="post">
	<table>
		<tr>
			<td>New password: </td>
			<td><input type="password" th:field="*{password}" /></td>
		 </tr>
	</table> 
	<input type="submit" value="Submit"/> 
	</form>
	
	<form action="#" th:action="@{/personAdmin}" method="get">
		<input type="submit" value="Back"/> 
	</form>
	
</body>
</html>
