<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Find a course by title</title>
</head>
<body>
	<h1>Find a course by title</h1>
	
	
	<form action="#" th:action="@{/findCourseByTitle}" th:object="${course}" method="post">
	<table>
		<tr>
			<td>Course short title: </td>
			<td><input type="text" th:field="*{shortTitle}" /></td>
		 </tr>
	</table> 
	<input type="submit" value="Submit"/> 
	</form>
	<form action="#" th:action="@{/searchForCourses}" method="get">
		<input type="submit" value="Back"/> 
	</form>
</body>
</html>