<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Person administration</title>
</head>
<body>
	<h1>Person Administration</h1>
	
	
	<a href="/exercise/changePassword">Change your own password</a><br>
	<a href="/exercise/searchPersons">Search for persons</a><br>
	<a href="/exercise/addNewPerson">Add a new person</a><br>
	<a href="/exercise/removePerson">Remove a person</a><br>
	<br>
	<form action="#" th:action="@{/welcome}" method="get">
		<input type="submit" value="Back"/> 
	</form>
</body>
</html>