<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Remove a person</title>
</head>
<body>
	<h1>Remove a person</h1>
	<form action="#" th:action="@{/removePerson}" th:object="${person}" method="post">
	<div><span style="color:red" th:errors="*{global}"></span></div>
	<table>
		<tr>
			<td>Person id: </td>
			<td><input type="text" th:field="*{personId}" /></td>
		 </tr>
	</table> 
	<input type="submit" value="Submit"/> 
	</form>
	<form action="#" th:action="@{/personAdmin}" method="get">
		<input type="submit" value="Back"/> 
	</form>
</body>
</html>