<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search persons</title>
</head>
<body>
	<h1>Search persons</h1>
	<form action="#" th:action="@{/searchPersons}" th:object="${person}" method="post">
	<table>
		<tr>
			<td>Person id: </td>
			<td><input type="text" th:field="*{personId}" /></td>
		 </tr>
	</table> 
	<input type="submit" value="Submit"/> 
	</form>
	<form action="#" th:action="@{/personAdmin}" method="post">
		<input type="submit" value="Back"/> 
	</form>
</body>
</html>